@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
    --font-geoslab: var(--font-geoslab); 
  }
  
  body {
    font-family: var(--font-geoslab), sans-serif;
  } */

/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Other custom CSS */

@font-face {
    font-family: "Happy Times";
    src: url('/assets/fonts/Happy-Times/happy-times-at-the-ikob.regular.ttf ');
}

@font-face {
    font-family: "Poppins";
    src: url('/assets/fonts/poppins/poppins-light-italic.ttf');
}

@font-face {
    font-family: "Poppins Black";
    src: url('/assets/fonts/poppins/poppins-black.ttf');
}

.font-happy-times {
    font-family: "Happy Times";
    font-weight: 400;
}

.font-poppins {
    font-family: "Poppins";
    font-weight: 400;
}

.font-poppins-black {
    font-family: "Poppins Black";
    font-weight: 400;
}

.swiper-button-next,
.swiper-button-prev {
  color: #37C500 !important;
  height: 20px !important;
}


.swiper-pagination-bullet {
  background: #ffffff !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #37C500 !important;
  opacity: 1;
}
